
.experience__frontend,.experience__programming{
    width: 50%;
   
}


@media only screen and (max-width: 600px) {
    #experience
   {
    margin-top: 500px;
   }
}
 

      


.main{
    justify-content: center;
    width: 100%;
}

h2,h5,h3,ul{
    padding-bottom: 2rem;
    text-align: center;
}
.main{
    
    display: flex;
    width: 100%;
}

ul{
    font-size: large;
}